#app .a-content {
  background-color: white !important;
}

.module-detail {
  width: 1180px;
  margin: 0 auto;
  .a-breadcrumb {
    width: 1180px;
  }
  .title {
    font-size: 18px;
    color: #111111;
    line-height: 60px;
    font-weight: bold;
  }
  .info {
    font-size: 14px;
    color: #666666;
    margin-bottom: 40px;
  }
  .content {
    font-size: 14px;
    color: #666666;
    padding-bottom: 30px;
  }
}