#app .a-content {
  background-color: white !important;
}

.news-more {
  width: 1180px;
  margin: 0 auto;
  .tai-news {
    float: none;
    width: 100%;
  }
  .day-group {
    padding: 25px 5px 20px;
  }
  .news-cont {
    max-height: none;
    overflow-y: auto;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
  }
}

.news-detail {
  .news-item:after {
    border: none;
  }
  .a-breadcrumb {
    width: 1180px;
  }
}
